screenshots/*
processed/*
__pycache__/*
memento_db/*
*.png
*.jpg
*.json
memento/__pycache__/*
memento.egg-info/*
*.h264
*.mp4
memento/timeline/__pycache__/*
experiments/test_modal_donut/__pycache__/*
experiments/__pycache__/*
*.pkl
*.txt
*.db